* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }

  .shimmer{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 28px;
    font-weight: bolder;
    background-color: #cad1fa;
}